<div class="summer-blog-menu">
    <div class="summer-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="summer-menu">
        <li class="summer-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
        <li>
            <a href="/" class="active">Blog</a>
        </li>
        <li>
            <a href="http://eepurl.com/be7KiH" target="_blank" >Lectores Élite</a>
        </li>
        <li>
            <a href="/colaboremos" target="_blank" >Colaboremos</a>
        </li>
        <li>
            <a href="#" class="js-open-search search-menu-btn"><i class="fa fa-fw fa-search"></i></a>
        </li>
    </ul>
</div>
 <div class="clearfix"></div>