<div class="post-reading-time js-post-reading-time">
    <div class="percent js-percent-count">0%</div>
    <progress value="0" class="read-progress-indicator single">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
    {{!-- read progress indicator --}}
    <div class="read-estimation">
        <div class="read-estimation-content">
            <div class="title">{{title}}</div>
            <div class="estimated-time">
                <span class="js-word-count"></span> palabras - <span class="eta"></span> para acabar. 
            </div>
        </div>
    </div>
</div>