{{!-- here will land your recent posts --}}
{{!-- you can change items amout here --}}
<div class="post-recent-list js-post-view-recent" data-items="4">
    <div class="post-recent-list-label">
        <span>Artículos recientes</span>
    </div>
</div>